<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Sam Martin - Personal Vcard Resume HTML Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Maryam Aslam - Personal Vcard Resume</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />

    <!-- bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- google font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,300italic,400italic,600italic,700,700italic,800,800italic' rel='stylesheet' type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200italic,200,300,300italic,400italic,500,500italic,600,600italic,700italic,900italic,900,800,700,800italic' rel='stylesheet' type="text/css" />

    <!-- themify icon -->
    <link href="css/themify-icons.css" rel="stylesheet" type="text/css" />

    <!-- font awesome  -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- magnific popup -->
    <link href="css/magnific-popup.css" rel="stylesheet" type="text/css" />

    <!-- jquery ui -->
    <link rel='stylesheet' href='css/jquery-ui.css'>

    <!-- main style -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <!-- responsive -->
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />

</head>

<body>


<!--=================================
  header -->

<div class="menu-responsive"><a href="#"> <b>Maryam A. Jawad </b></a> <a id="menu-icon" class="but" href="#"><span class="ti-menu"></span> </a></div>
<header id="left-header" class="header">
    <nav id="menu" class="navbar navbar-default">
        <div class="navbar-header">
            <!--<a class="navbar-brand" href="index.html"> <img id="logo_img" src="images/logo.png" alt=""> </a> -->
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul id="navbar" class="nav navbar-nav">
                <li class="active"><a href="#home" class="page-scroll">Home</a></li>
                <li><a href="#about" class="page-scroll">About</a></li>
                <li><a href="#skill" class="page-scroll">Skills</a></li>
                <li><a href="#portfolio" class="page-scroll">Projects</a></li>
                <li><a href="#testimonials" class="page-scroll">Experience</a></li>
                <li><a href="#contact" class="page-scroll">Contacts</a></li>
            </ul>
        </div>
    </nav>
    <div class="menu-footer">
        <div class="social">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>© Maryam Aslam <br/> all rights reserved</p>
        </div>
    </div>
</header>

<!--=================================
  header -->


<!--=================================
  intro -->

<section class="content-scroller">
    <div id="home" class="intro-bg gradient-01" style="background: url('images/bg.jpg');">
        <div id="scroll-down" class="intro">
            <div class="intro-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 text-left content-left">
                            <h1>Maryam A. Jawad</h1>
                            <div id="typer"></div>
                            <div class="button-large">
                                <a href="https://www.linkedin.com/in/maryamaslam/" target="_blank">Linkedin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="scroll-down page-scroll" title="Scroll Down" href="#about"><i></i></a>
        </div>
    </div>

    <!--=================================
      intro -->


    <!--=================================
      about -->

    <section id="about" class="about white-bg page-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="about-image">
                        <img class="img-responsive" src="images/me.png" alt="">
                    </div>
                    <div class="about-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="section-title">
                        <div class="section-title-name">
                            <span>Know about me</span>
                            <h2>About Me</h2>
                        </div>
                        <div class="title-name-gray">
                            <strong>About me</strong>
                        </div>
                    </div>
                    <div class="contact-block">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="my-contact clearfix">
                                    <div class="contact-icon">
                                        <span class="ti-user"></span>
                                    </div>
                                    <div class="contact-info">
                                        <h4>Name:</h4>
                                        <p>Maryam Aslam</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="my-contact clearfix">
                                    <div class="contact-icon">
                                        <span class="ti-email"></span>
                                    </div>
                                    <div class="contact-info">
                                        <h4>Email:</h4>
                                        <p>maryam.aslam@outlook.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="my-contact clearfix">
                                    <div class="contact-icon">
                                        <span class="ti-mobile"></span>
                                    </div>
                                    <div class="contact-info">
                                        <h4>Phone:</h4>
                                        <p>+47 46 821 014 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="my-contact clearfix">
                                    <div class="contact-icon">
                                        <span class="ti-calendar"></span>
                                    </div>
                                    <div class="contact-info">
                                        <h4>Date of birth: </h4>
                                        <p>03 May 19xx</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="my-contact clearfix">
                                    <div class="contact-icon">
                                        <span class="ti-direction-alt"></span>
                                    </div>
                                    <div class="contact-info">
                                        <h4>Address: </h4>
                                        <p>Oslo, Norway </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="my-contact clearfix">
                                    <div class="contact-icon">
                                        <span class="ti-flag-alt-2"></span>
                                    </div>
                                    <div class="contact-info">
                                        <h4>Nationality: </h4>
                                        <p>Pakistan</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="about-block clearfix">
                                    <p>I have <b>2 years of experience</b> as an IT consultant in the field of software testing by working with different mobile and multi-tier web apps. My biggest project so far is testing HREM (Human Resource Employee Management) which is web based application for a bank. It facilitates to maintain employees database, their roles and responsibilities, internal online instant messaging system, and document management.
                                    <p>I am pro-active, quick learner, and like working in agile teams.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
      about -->


    <!--=================================
      My Skill -->

    <section id="skill" class="my-skill white-bg page-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section-title">
                        <div class="section-title-name">
                            <span>I am good at</span>
                            <h2>My Skill</h2>
                        </div>
                        <div class="title-name-gray">
                            <strong>My Skill</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="skill-content">
                        <h2>My Professional Strengths</h2>

                        <div class="knowledge">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <!-- <h2>Knowledge</h2> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <ul>
                                        <li><span class="ti-hand-point-right"></span> Requirements analysis</li>
                                        <li><span class="ti-hand-point-right"></span> Jira </li>
                                        <li><span class="ti-hand-point-right"></span> API</li>
                                        <li><span class="ti-hand-point-right"></span> Git(hub)</li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <ul>
                                        <li><span class="ti-hand-point-right"></span> Java </li>
                                        <li><span class="ti-hand-point-right"></span> Junit </li>
                                        <li><span class="ti-hand-point-right"></span> HTML </li>
                                        <li><span class="ti-hand-point-right"></span> Open Banking </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <ul>
                                        <li><span class="ti-hand-point-right"></span> Functional Testing </li>
                                        <li><span class="ti-hand-point-right"></span> Regression Testing </li>
                                        <li><span class="ti-hand-point-right"></span> Performance Testing </li>
                                        <li><span class="ti-hand-point-right"></span> Design sprint </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <span></span>
                    </div>
                </div>
                <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                   <div class="skill">
                          <ul>
                            <li>Web & Graphic Design
                              <div class="bar_container">
                               <span class="bar" data-bar='{ "color": "#07cb79" }'>
                                 <span class="pct">70%</span>
                               </span>
                             </div>
                           </li>
                           <li>HTML5 & CSS3
                            <div class="bar_container">
                              <span class="bar" data-bar='{ "color": "#07cb79", "delay": "600" }'>
                                <span class="pct">55%</span>
                              </span>
                             </div>
                           </li>
                           <li>JavaScript / JQuery
                             <div class="bar_container">
                              <span class="bar" data-bar='{ "color": "#07cb79", "delay": "1200" }'>
                               <span class="pct">80%</span>
                              </span>
                             </div>
                           </li>
                           <li>JavaScript / JQuery
                            <div class="bar_container">
                              <span class="bar" data-bar='{ "color": "#07cb79", "delay": "1800" }'>
                              <span class="pct">70%</span>
                             </span>
                            </div>
                           </li>
                       </ul>
                       <div class="skill-chart">
                           <div class="skill-chart-expand clearfix">
                            <div class="expand expand-left">
                                <p>Newbie</p>
                             </div>
                             <div class="expand expand-left">
                               <p>Decent</p>
                              </div>
                              <div class="expand expand-right">
                                <p>Pretty Good</p>
                              </div>
                              <div class="expand expand-right">
                                <p>Master</p>
                              </div>
                            </div>
                       </div>
                      </div>
                     </div>
                </div> -->

                <div class="language-skills">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h2>Language skills</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="chart-bar">
                                <div class="chart" id="chart1" data-percent="85">
                                    <span class="percent"></span>
                                </div>
                                <h3>English <br/> Fluent</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="chart-bar">
                                <div class="chart" data-percent="55">
                                    <span class="percent"></span>
                                </div>
                                <h3> Norwegian <br />Medium</h3>
                            </div>
                        </div>
                        <<!--<div class="col-lg-3 col-md-3 col-sm-3">
            <div class="chart-bar">
              <div class="chart" data-percent="89">
                   <span class="percent"></span>
               </div>
                 <h3>Spanish <br />Basic</h3>
           </div>
           </div>
           <div class="col-lg-3 col-md-3 col-sm-3">
           <div class="chart-bar">
              <div class="chart" data-percent="95">
                   <span class="percent"></span>
               </div>
                 <h3>German <br />Basic</h3>
           </div>
          </div>
         </div> -->

                    </div>
                </div>
    </section>

    <!--=================================
      My Skill -->


    <!--=================================
     portfolio -->

    <section id="portfolio" class="portfolio white-bg page-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section-title">
                        <div class="section-title-name">
                            <span>Featured Work</span>
                            <h2>Projects</h2>
                        </div>
                        <div class="title-name-gray">
                            <strong>Projects</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="isotope-filters text-left">
                        <button data-filter="" class="active"> View All <span>/</span></button>
                        <button data-filter=".banking"> Open Banking <span>/</span></button>
                        <button data-filter=".testing"> Testing <span>/</span></button>
                        <button data-filter=".java">Java practice </button>
                    </div>
                </div>
            </div>
            <div class="isotope popup-portfolio full-screen">
                <div class="grid-item testing">
                    <div class="portfolio-item">
                        <div class="item">
                            <div class="item-hover">
                                <div class="item-inner">
                                    <img class="img-responsive" src="images/portfolio/01.jpg" alt=""></div>
                                <div class="item-info">
                                    <a href="#"> HREM </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item java">
                    <div class="portfolio-item">
                        <div class="item">
                            <div class="item-hover">
                                <div class="item-inner">
                                    <img class="img-responsive" src="images/portfolio/02.jpg" alt=""></div>
                                <div class="item-info">
                                    <a href="#"> NLA </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item banking java">
                    <div class="portfolio-item">
                        <div class="item">
                            <div class="item-hover">
                                <div class="item-inner">
                                    <img class="img-responsive" src="images/portfolio/03.jpg" alt=""></div>
                                <div class="item-info">
                                    <a href="#"> PSD2 </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </section>

    <!--=================================
     portfolio -->


    <!--=================================
     blog -->


    <!--
    <section id="testimonials" class="testimonials white-bg page-section-pt">
     <div class="container-fluid">
       <div class="row">
        <div class="col-lg-12 col-md-12">
         <div class="section-title">
                 <div class="section-title-name">
                      <span>Look at their opinions!</span>
                       <h2>Experience </h2>
               </div>
               <div class="title-name-gray">
                  <strong>Experience</strong>
              </div>
            </div>
        </div>
       </div>
     <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="testimonials-block">
          <div class="testimonials-content">
               <div class="testimonials-avtar">
                   <img class="imgresponsive" src="images/testimonials/01.jpg" alt="">
               </div>
               <div class="testimonials-comment">
                   <p>Are you considering buying a compatible inkjet cartridge for your printer? There are many reputed companies like Canon, Epson, Dell, and Lexmark </p>
               </div>
          </div>
          <div class="testimonials-name">
              <h4>Michael Bean</h4>
              <span>Project manager</span>
          </div>
        </div>
        <div class="testimonials-block">
          <div class="testimonials-content">
               <div class="testimonials-avtar">
                   <img class="imgresponsive" src="images/testimonials/02.jpg" alt="">
               </div>
               <div class="testimonials-comment">
                   <p> Sports betting While most people enjoy casino gambling, lottery and bingo playing for the fun and excitement it provides, others may experience gambling as an addictive and distractive habit. </p>
               </div>
          </div>
          <div class="testimonials-name">
              <h4>Joana Williams</h4>
              <span>Executive Director</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="testimonials-block">
          <div class="testimonials-content">
               <div class="testimonials-avtar">
                   <img class="imgresponsive" src="images/testimonials/03.jpg" alt="">
               </div>
               <div class="testimonials-comment">
                   <p>While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun and excitement it provides, others may experience gambling as an addictive and distractive habit. </p>
               </div>
          </div>
          <div class="testimonials-name">
              <h4>Paul Flavius</h4>
              <span>Managing Director</span>
          </div>
        </div>
        <div class="testimonials-block">
          <div class="testimonials-content">
               <div class="testimonials-avtar">
                   <img class="imgresponsive" src="images/testimonials/04.jpg" alt="">
               </div>
               <div class="testimonials-comment">
                   <p>Despite the advancements few would argue that, of feminism over the past three </p>
               </div>
          </div>
          <div class="testimonials-name">
              <h4>Felica Queen</h4>
              <span>Department Head</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="testimonials-block">
          <div class="testimonials-content">
               <div class="testimonials-avtar">
                   <img class="imgresponsive" src="images/testimonials/05.jpg" alt="">
               </div>
               <div class="testimonials-comment">
                   <p>Few would argue that, despite the advancements of feminism over the past three </p>
               </div>
          </div>
          <div class="testimonials-name">
              <h4>Michael Bean</h4>
              <span>Team Leader</span>
          </div>
        </div>
        <div class="testimonials-block">
          <div class="testimonials-content">
               <div class="testimonials-avtar">
                   <img class="imgresponsive" src="images/testimonials/06.jpg" alt="">
               </div>
               <div class="testimonials-comment">
                   <p>Today, many people rely on computers to do homework, work, and create or store useful information.</p>
               </div>
          </div>
          <div class="testimonials-name">
              <h4>Mellissa Doe</h4>
              <span>Section Head</span>
          </div>
        </div>
      </div>
     </div>
     </div>
    </section>

    <!- - =================================
     calendar -->


    <!--=================================
     contact -->

    <section id="contact" class="google-map white-bg page-section-pt">
        <div class="container-fluid">
            <div id="google-map">
                <div id="map-canvas"></div>
            </div>
            <div class="contact">
                <h2>Contact </h2>
                <div class="address">
                    <ul>
                        <li><span class="ti-location-pin"></span> <p>Oslo, Norway </p> </li>
                        <li><span class="ti-marker-alt"></span> <p>post@maryam.no </p></li>
                        <li><span class="ti-mobile"></span> <p> +47 46 821 014 </p></li>
                    </ul>
                </div>
                <div class="social">
                    <ul>
                        <li><a href="https://www.facebook.com/maryam.aslam21" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <a href="https://www.facebook.com/maryam.aslam21" target="_blank"></a>
                        <li><a href="https://github.com/maryamjawad" target="_blank"><i class="fa fa-github"></i> </a></li>
                        <a href="https://github.com/maryamjawad" target="_blank"></a>
                        <li><a href="https://www.linkedin.com/in/maryamaslam/" target="_blank"><i class="fa fa-linkedin"></i> </a></li>
                        <a href="https://www.linkedin.com/in/maryamaslam/" target="_blank"></a>
                    </ul>
                </div>
                <div class="button-large"><a href="https://www.linkedin.com/in/maryamaslam/" target="_blank">Linkedin</a></div>
            </div>
        </div>
    </section>

    <!--=================================
     contact -->

</section>

<!--=================================
 javascript -->

<!-- jquery -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- modernizr -->
<script type="text/javascript" src="js/modernizr.min.js"></script>

<!-- Plugins -->
<script type="text/javascript" src='js/plugins.js'></script>

<!-- map script -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAY2PCpDKngZM1lm-Rssu8GUk4GxBvucQ4&callback=initMap"  type="text/javascript"></script>
<script type="text/javascript" src="js/map-scripts.js"></script>

<!-- datepicker -->
<script type="text/javascript" src="js/datepicker-script.js"></script>

<!-- custom -->
<script type="text/javascript" src="js/custom.js"></script>

</body>
</html> 